body{
    background-color: #111;
    font-family: 'Roboto', sans-serif;

}

#wrap{
    background: #77abff;
    width: 700px;
    height: 800px;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

#banner{
    width: 100%;
    position: absolute;
    top: -150px;
    left: 0px;
}

#disk{
    position: relative;
    margin: 0 auto;
    display: block;
    height: 200px;
    z-index: 1;
    margin-top: 80px;
    //animation:spin 1000s linear infinite;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#window{
    width: 90%;
    height: 460px;
    position: relative;
    top: 30px;
    margin: 0 auto;
    display: block;
    background: #111;
    border-radius: 10px;
    overflow: hidden;
}

#search{
    position: relative;
    border: none;
    background: #26262673;
    color: white;
    height: 10px;
    width: 100%;
    padding: 20px;
}

#search::placeholder{
    color: white;
}

#shelf{
    overflow-y: auto;
    overflow-x: hidden;
    height: 415px;
}

#search:focus {outline:0;}
.btn:focus {outline:0;}

.slot{
    position: relative;
    height: 60px;
    background: #111;
    color: white;
}

::-webkit-scrollbar{
    background-color: black;
    width: 8px;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb{
    background-color: #3a3a3a;
    border-radius: 3px;
    
}

.title{
    position: absolute;
    display: block;
    top: 19px;
    left: 80px;
}

.cover-art{
    height: 60px;
}

.btn{
    height: 30px;
    border: none;
    padding: 5px;
    font-size: 15px;
    border-radius: 3px;
    background: #f44242;
    color: white;
    transition: transform .05s;
    cursor: pointer;
    width: 70px;
}

.queue{
    background: #474747;
    position: absolute;
    top: 15px;
    right: 100px;
}

.star{
    background: #998a41;
    position: absolute;
    top: 15px;
    right: 180px;
}

.play{
    position: absolute;
    top: 15px;
    right: 20px;
}

.btn:hover{
    transform: scale(1.05)
}
.btn:active{
    transform: scale(.95)
}

#queue-songs{
    width: 110px;
    right: 230px;
    top: 10px;
}

#category-table{
    border: none;
    background: none;
    color: white;
    height: 30px;
    width: 190px;
    position: absolute;
    z-index: 20;
    top: 10px;
    right: 10px;
    text-align: center;
}

.table-values{
    background: #111;
    color: white;
    border: none;
}

#category-table:focus {outline:0;}


#overlay{
    position: absolute;
    z-index: 50;
    background: rgb(40, 58, 63);
    height: 700px;
    width: 600px;
    top: 20px;
    border-radius: 10px;
    left: 50px;
    overflow-x: hidden;
    overflow-y: auto;
}
/* 
#title{
    text-align: center;
    font-size: 30px;
    color: white;
    position: relative;
    display: block;
    margin: 0 auto;
    top: 20px;
    font-family: Ubuntu;
} */

.cover-art-news{
    height: 100px;
    position: absolute;
    left: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.story{
    height: 100px;
    width: 100%;
    /*background: white;*/
    top: 0px;
    position: relative;
    margin-top: 10px;
}

.story-description{
    color: white;
    position: absolute;
    top: 40px;
    width: 400px;
    height: 60px;
    left: 140px;
    font-size: 18.6px;
}

.date-sign{
    color: #d6d6d6;
    position: absolute;
    top: 70px;
    width: 400px;
    height: 60px;
    left: 140px;
    font-size: 14.6px;
}

.story-title{
    color: white;
    position: absolute;
    top: 0px;
    left: 140px;
    font-size: 25px;
}

#close-button{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#news-room{
    top: 170px;
    overflow: auto;
    position: relative;
    height: 450px;
}

#extra{
    position: relative;
    display: block;
    height: 10px;
    width: 700px;
    margin: 0 auto;
    text-align: right;
    margin-top: 10px;
}

a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: #d6d6d6;
}

/* selected link */
a:active {
    color: #d6d6d6;
}

#news-banner{
    position: absolute;
    top: 0px;
    left: 0px;
}